/* Created by rishabh mishra */

body 
{         
    background-color: #efefef;
    margin:0;  padding:0;
    user-select:none;
    
}     
 
h1 
{         
    font-size: 45px; 
    position:relative; 
    margin-top:43%;          
} 

button,#lap
{
    display:inline-block;
    font-size:18px;
    width:43%;height:48px;
    margin:2%; color:white;
    font-weight:bolder;
    outline:none; border:0;
    border-radius:5px;
    background-color:teal;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 3px 5px rgba(0,0,0,0.3);
    cursor:pointer ;
    outline:none;
    transition:0.1s;
    
}
button:active
{
    box-shadow:0 0 black;
    transform:scale(0.94);
}
#begin
{     
    background-image:-webkit-linear-gradient(right,#06beb6,#48b1bf);
} 

#reset 
{     
    background-image: -webkit-linear-gradient(left,#141e30,#243b55);   
}     

#controls 
{         
    margin-left: 7px;         
    width: 310px;         height:70px;     
}
#lap
{
    width:78%; margin-top:0px;
}

@media only screen and ( min-width:500px )
{
    h1
    {
     margin-top:5%;   }  
    #lap
    {
       width:45%;
    }
}